.row {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.row.projects {
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 5%;
}

.tab-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.tabs {
  display: flex;
}

.tab {
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.tab.active {
  border-bottom: 2px solid blue;
  transform: translateY(-2px);
}

.tab-content {
  display: flex;
  flex-direction: column;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

body {
  height: 100%;
  background: #FAFAFA;
  font-family: 'Roboto', sans-serif;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}