.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}
  .svg-separator{
    display: block;
    background: 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    -webkit-transform: translateY(-100%) translateY(2px);
    transform: translateY(-100%) translateY(2px);
    width: 100%;
  }

  .sep9 {
    transform: translateY(0%) translateY(-2px) scale(-1,-1);
    transform-origin: bottom;
  }

  .svg-separator.bottom{
    top: auto;
    bottom: 0;
  }

  .black{background-color:#333;}
  .gradientColor {background: linear-gradient(#D6CBE3, #9198e5)}